{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{% if editing %}Éditer la résolution{% else %}Créer une résolution{% endif %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">{% if editing %}Éditer la résolution{% else %}Créer une nouvelle résolution{% endif %}</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid gap-2 mt-4 d-md-flex justify-content-md-center">
                            <a href="{% url 'accueil' %}" class="btn btn-secondary">Annuler</a>
                            <button type="submit" name="action" value="draft" class="btn btn-secondary me-md-2">{% if editing %}Sauvegarder les modifications{% else %}Sauvegarder le brouillon{% endif %}</button>
                            <button type="submit" name="action" value="publish" class="btn btn-primary">Publier</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}